#main-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}



#all-student{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.student {
    display: flex;
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 12px;
    background: linear-gradient(145deg, #f08095, #d86479); /* Gradient for 3D feel */
    color: white;
    font-weight: bold;
    box-shadow: 4px 4px 0 #000; /* Shadow gives a pop effect */
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .student:hover {
    transform: translateY(-2px);
    box-shadow: 6px 6px 0 #000;
  }
  
  .student:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 0 #000;
  }


#khyati{
    display: flex ;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


#khyati img{
    width: 50px;
}

span {
    color: #E9758A;
}


a {
    text-decoration: none;
    color: white;
}