@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');



body {
    margin: 0px;
    padding: 0px;
    font-family: "Audiowide";
}



#nav-bar {
    width: 100%;
    height: 63px;
    border-bottom: 1px solid black;

    margin-top: 10px;
}


#text-with-logo{
   width: 275px;
   height: 100%;
   display: flex;
   gap: 10px;
   margin-left: 10px;
}


#text-with-logo img {
    height: 100%;
}


#logo-text-span {
    color: #CE4C64;
}



#register-form-container{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inclusive Sans";
    gap: 10px;
}






#register-form {
    display: flex;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 400px;
    background-color: white;
    --aug-border-all:1px;
}


#labels{
    display: flex;
    flex-direction: column;
    font-size: x-large;
    gap: 40px;
    
}


#inputs{
    display: flex;
    flex-direction: column;
     gap: 40px;
    width: 100%;
    height: 100%;
}

#inputs input{
    padding: 4px;
    padding-top: 10px;
    border-radius: 10px;
    border: none;
    border: 1px solid #000000;
    font-size: 20px;
    text-align: center;
}


#labels:nth-child(5){
    margin-top: 10px;
}


#register-form-big {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e45f77;
    --aug-border-all:1px;
}


#REGISTER {
    
font-size: 17px;
padding: 16px;
border-radius: 10px
;
background-color: #e45f77;
border: 1px solid black;
color: white;
}

#REGISTER:hover{
    background-color: #CE4C64;
    cursor: pointer;
}


#login {
    border: 1px solid black;
    background-color: #e45f77;
    border-radius: 5px;
    width: 80px;
    color: white;
}

#login:hover{
    background-color: #CE4C64;
    cursor: pointer;
}
